* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left-side {
    width: 50%;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-side {
    width: 50%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 30px;
    margin-bottom: 8px;
}

.sub {
    color: gray;
    margin-bottom: 25px;
}

.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

.roles {
    margin-bottom: 25px;
}

.btn {
    width: 100%;
    background: #b08b52;
    color: white;
    padding: 14px;
    border: none;
    font-size: 17px;
    margin-bottom: 20px;
    cursor: pointer;
}

.google-btn {
    width: 100%;
    background: white;
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 25px;
}

    .google-btn img {
        width: 20px;
    }

.login-text {
    color: gray;
    margin-top: 10px;
}

    .login-text a {
        margin-left: 5px;
        text-decoration: none;
    }
